
<footer>
    <div class="container bg-dark bg-opacity-50 rounded-2 text-white text-center mt-5 mb-2 p-2 shadow">
        <div class="row">
            <p style="font-size: 1.3em;"><b>BTS SIO</b> - lycéee <b>L</b>éonard de <b>V</b>inci</p>
            <p><img  style="width: 100px;" src="./assets/images/Logo-LdV.png" alt="Logo Lycée Léonard de Vinci"></p>
            <h6><a routerLink="/rgpd" routerLinkActive="active">Mentions légales & RGPD</a></h6>                 
            <p>
                Application développée sur les technologies :
                <strong><i class="bi bi-bootstrap"></i> Bootstrap</strong>
                & <strong><i class="bi bi-shield-fill"></i> Angular</strong>
                 - version mars 2024
            </p>

        </div>
    </div>

</footer> 

