<div class="container bg-body-secondary rounded-3 rgpd" style="filter: drop-shadow(10px 10px 4px black);">
    <div class="row">
        <h5>Notre société :</h5>
        <p>
            Les solutions logicielles <b>Suhi-App</b> de nos restaurants <b>Sushi-Fast</b>
            sont développées et administrées par la Section de Technicien Supérieur (<b>STS</b>) 
            de la filière <b>SIO</b> (<b>S</b>ervices <b>I</b>nformatiques aux <b>O</b>rganisations)
            option <b>SLAM</b> (<b>S</b>olutions <b>L</b>ogicielles & <b>A</b>pplication <b>M</b>étiers) 
            du lycée <b>Léonard de Vinci</b> de la ville de Melun.
        </p>


        <h5>Coordonnées et contact :</h5>
        <p>
            <img src="./assets/images/Logo-LdV.png" alt="Logo LdV" style="width: 150px; margin-left: 10px;">
        </p>
        <ul style="list-style-type: none;">
            <li><b>Lycée Polyvalent Léonard de Vinci</b></li>
            <li>2, bis rue Edouard Branly</li>
            <li>77 000 MELUN CEDEX</li>
            <li><i class="bi bi-telephone-fill"></i> : 01 60 56 60 60</li>
            <li><i class="bi bi-globe"></i> : <a href="https://www.vinci-melun.org/">https://www.vinci-melun.org/</a></li>
            <li><i class="bi bi-envelope"></i> : <a href="mailto:ce.0770934x@ac-creteil.fr">ce.0770934x&#64;ac-creteil.fr</a></li>
        </ul>
            
            
        <h5>Version locale (bornes de commande en restaurant) :</h5>
        <p>
            L’application est hébergée sur l’infrastructure locale du restaurant <b>Sushi-Fast</b>. 
            Le paiement se faisant en caisse, aucune information personnelles n’est conservée en dehors de la l’opération de commande. 
            Cependant la société se réserve le droit de conserver et centraliser les informations anonymisées permettant d’établir des statiques diverses sur commandes réalisées.
        </p>
        
        <h5>Version en ligne (application Web) :</h5>
        <p>
            Les informations relatives à vos paniers de commande sont stockées sur la solution de stockage local de votre navigateur. 
            Ce stockage nous permet d’assurer le fonctionnement de notre service et de sa continuité entre différentes sessions.
        </p>

        <h6>Droits sur vos données :</h6>
        <p>
            Nous sommes susceptibles de collecter et conserver des informations personnelles sur nos serveurs. 
            Vous pouvez à tout moment demander à récupérer ou solliciter à un effacement de vos données en nous contactant par mail (voir rubrique contact).
        </p>


        <h5>Hébergement de l’application Sushi-App :</h5>
        <h6>Solution frontend :</h6>
        <p>
            L’hébergement est confié à la société <b>GitHub </b><i class="bi bi-github"></i> :        
            <a href="https://github.com/">https://github.com/</a>
        </p>
        
        
        <h6>Solution backend :</h6>
        <p>
            L’hébergement de la base de données est confié à la société française <b>LWS</b> (Ligne Web Services) :
            <a href="https://www.lws.fr">https://www.lws.fr</a>
        </p>        
    </div>

    <!-- Bouton quitter la RGPD : -->
    <div class="row mt-4">
        <div class="col-12 text-center">
        <a routerLink="/" routerLinkActive="active" class="btn btn-secondary w-auto" title="Retour au menu">Fermer</a>
        </div>
    </div>
</div>
